h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: yellow;
}
p::selection{
    color: yellow;
    background-color: green;
}
#fruits li::marker{
    content: "✔";
    color: yellow;
}
#apple::after{
    content: "🍎";
}
#orange::after{
    content: "🍊";
}
#banana::after{
    content: "🍌";
}