#box{
    width: 250px;
    height: 300px;
    background-color: lightblue;
    font-size: 13em;
    text-align: center;
}
img{
    width: 250px;
    height: 300px;
    animation-name: slideleft;
    animation-duration: 2s;
    animation-iteration-count: 5;
    animation-direction: normal;
    animation-play-state: running;
}
@keyframes slideleft{
    from{transform: translateX(300%)}
}
@keyframes slideright{
    to{transform: translateX(300%)}
}
@keyframes slideup{
    from{transform: translateY(300%)}
}
@keyframes slidedown{
    to{transform: translateY(300%)}
}
@keyframes rotate{
    75%{transform: translateZ(360deg)}
}
@keyframes grow{
    25%{transform: scale(2, 2)}
}
@keyframes shrink{
    50%{transform: scale(0.5, 0.5)}
}
@keyframes fade{
    100%{opacity: 0;}
}
@keyframes colorChange{
    0%{background-color: lightblue;}
    20%{background-color: lightskyblue;}
    40%{background-color: lightsteelblue;}
    60%{background-color: blue;}
    80%{background-color: midnightblue;}
    100%{background-color: darkblue;}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px yellow;}
}