.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: lightcoral;
}
#box2{
    background-color: lightblue;
}
#box3{
    background-color: lightgreen;
}
#box4{
    background-color: yellow;
}