<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/png" href="Favicon.png">
        <title>My Website</title>
        <link rel="stylesheet" href="WebsiteLayout.css">
    <body>
        <header>
            <h3>Header</h3>
        </header>
        <nav class="navbar">

        </nav>
        <main>
            <aside>
                <h2>This is aside</h2>
                <p>Fresh fruits play an important role in maintaining a healthy lifestyle.
                They are packed with essential vitamins, minerals, and natural fiber that help support digestion, boost energy, and strengthen the immune system.
                Eating a variety of fruits each day ensures the body gets balanced nutrition.
                Beyond health benefits, fruits add natural flavor and color to meals. Whether eaten raw, blended into smoothies, or added to desserts, they provide a refreshing and satisfying option.
                Making fresh fruits a daily habit is a simple step toward better overall well-being.</p>
            </aside>
            <section>
                <h2>This is a section</h2>
                <p>Fresh fruits play an important role in maintaining a healthy lifestyle.
                They are packed with essential vitamins, minerals, and natural fiber that help support digestion, boost energy, and strengthen the immune system.
                Eating a variety of fruits each day ensures the body gets balanced nutrition.
                Beyond health benefits, fruits add natural flavor and color to meals. Whether eaten raw, blended into smoothies, or added to desserts, they provide a refreshing and satisfying option.
                Making fresh fruits a daily habit is a simple step toward better overall well-being.</p>
                <p>Fresh fruits play an important role in maintaining a healthy lifestyle.
                They are packed with essential vitamins, minerals, and natural fiber that help support digestion, boost energy, and strengthen the immune system.
                Eating a variety of fruits each day ensures the body gets balanced nutrition.
                Beyond health benefits, fruits add natural flavor and color to meals. Whether eaten raw, blended into smoothies, or added to desserts, they provide a refreshing and satisfying option.
                Making fresh fruits a daily habit is a simple step toward better overall well-being.</p>
            </section>
            <article>
                <h2>This is a article</h2>
                <p>Fresh fruits play an important role in maintaining a healthy lifestyle.
                They are packed with essential vitamins, minerals, and natural fiber that help support digestion, boost energy, and strengthen the immune system.
                Eating a variety of fruits each day ensures the body gets balanced nutrition.
                Beyond health benefits, fruits add natural flavor and color to meals. Whether eaten raw, blended into smoothies, or added to desserts, they provide a refreshing and satisfying option.
                Making fresh fruits a daily habit is a simple step toward better overall well-being.</p>
                <p>Fresh fruits play an important role in maintaining a healthy lifestyle.
                They are packed with essential vitamins, minerals, and natural fiber that help support digestion, boost energy, and strengthen the immune system.
                Eating a variety of fruits each day ensures the body gets balanced nutrition.
                Beyond health benefits, fruits add natural flavor and color to meals. Whether eaten raw, blended into smoothies, or added to desserts, they provide a refreshing and satisfying option.
                Making fresh fruits a daily habit is a simple step toward better overall well-being.</p>
            </article>
        </main>
        <footer>
            <h3>Footer</h3>
        </footer>
    </body>
</html>