.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}
.dropdown:hover .content{
    display: block;
}
.dropdown a:hover button{
    background-color: white;
}
.dropdown a:hover{
    background-color: gray;
}